<!DOCTYPE html>
<html>
  <head>
    <title>Swapmeet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      Hello, <%= current_user.display_name %>!
      <% if logged_in? %>
        (<%= link_to 'Logout', logout_path %>)
      <% else %>
        (<%= link_to 'Login', users_path %>)
      <% end %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <br />
      <span><%= link_to 'Home', root_path %></span>
      <span><%= link_to 'Indices', indexes_path %></span>
    </div>
  </body>
</html>
